node_modules
dist
.build
.next
.vite
out
.DS_Store
.env*
.idea
.vscode/*
!.vscode/extensions.json

dev-dist/
dist/
.env
firebase-service-account.json
backend/src/main/resources/firebase-service-account.json


.github/instructions/kluster-code-verify.instructions.md
.kluster


.cursor/rules/kluster-code-verify.mdc
.cursor/.cursorrules
testsprite_tests

.cursor
